
.main-layout-wrapper {
    display: flex;           
	margin: 0;
    padding: 0;
	width: 100%;
    align-items: center;	 
    position: relative;	
	justify-content: flex-start;
}
body {
    background-color: #F6BD1F;
}
.heading {
	position: absolute; 
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 0; 
    flex-grow: 1; 
    font-family: "Exo 2", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 70px;
	color: #197C9D; 
    /*text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
	z-index: 10;
	/*color: #F6BD1F;*/
	background-color: transparent;

}

.left-side-container {
    background-image: url('sunrise.jpg');
	/*border-radius: 1 em;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 300px;
    text-align:left;
	margin-top:-70px
}


.right-side-container {
	margin-top:80px;
    background-image: url('seedlings.jpg');
    width: 450px;
    height: 300px;
    background-repeat: no-repeat;
	align-self: flex-end;
	/*margin-left: 150px;*/
	margin-left: 500px;
}

.icon-container {
	font-size: 70px;
	margin-top:10px;
	display: flex; 
    justify-content: space-around; 
    width: 100%;
}

}
.banner-line {
  border: none;
  border-top: 5px solid black; 
  margin: 0;
}

.moving-banner-container {
  width: 100%;
  overflow: hidden; 
  background-color: #F6BD1F; 
  padding: 3px 0;
  white-space: nowrap; 
  margin-top: 60px;
}

.idea-item {
  color: #197C9D; 
  font-family: "Exo 2", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  padding-right: 1px;
  display: inline-block;
}

.line-content {
  display: inline-block;
  animation: scroll-left 500s linear infinite;
}

.moving-banner-container:hover .line-content {
  animation-play-state: paused;
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.abouthead {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 80px;
  color: #197C9D; 
  text-align: center;	
  margin-top: 70px;
}
.text-content-container {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 25px;
  width: 80%; 
  max-width: 1000px; 
  margin-left: auto;
  margin-right: auto;
    margin-top: 30px; 
    margin-bottom: 30px;
    text-align: left; 
    color: black; 
    font-size: 18px;
    line-height: 1.6;
}
.parent-container {
  display: flex;
  justify-content: flex-end; 
}

.content-box {
	margin-left:30px;
	margin-right:600px;
  width: 120%;
  max-width: 800px;
   position: relative;
}
.logo {
  float: right;
  margin-left: 30px; 
  margin-bottom: 10px;
  position: absolute;
  top: 0; 
  right: -250px;
}


.members {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 5px; 
    align-items: flex-start; 
    margin-top: 50px; 
}

.member-profile {
    text-align: center; 
    margin: 10px; 
    width: 220px;
}


.member-profile p {
    margin: 5px 0;
    color: #333;
}

.members-section h1 {
    text-align: center;
    margin-bottom: 30px; 
font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;

}


.members-section {
    padding: 20px; 
}

        .contact-container {
            width: 100%;
            max-width: 1000px; 
			margin-left:auto;
			margin-right:auto;
            display: grid;
            gap: 40px;
			padding: 0;
            grid-template-columns: 1fr;
        }
        @media (min-width: 1024px) {
            .contact-container {
                grid-template-columns: 1fr 1.5fr; 
            }
        }
		
        .info-section {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .outline-box {
            padding: 5px;
            display: flex;
            align-items: left;
            justify-content: left;
            box-sizing: border-box;
        }

        .contact-us-box {
            width: 60%; 
            text-align: left;
            font-size: 14px;
            font-weight: bold;
			font-family: "Exo 2", sans-serif;
        }


        .get-in-touch-box h1 {
            font-size: 36px;
            line-height: 1.1;
            margin: 0;
            font-weight: 800;
			font-family: "Exo 2", sans-serif;
        }


        .form-section {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .input-group label {
            display: block;
            font-size: 14px;
            font-weight: bold;
			margin-top: 40px;
        }

        .input-field {
            width: 100%;
            padding: 12px;
            border: 1px solid #999;
            box-sizing: border-box;
            font-size: 16px;
            resize: vertical; 
            
        }

        .checkbox-group {
            display: flex;
            align-items: center;
            padding-top: 10px;
        }

        .custom-checkbox {
            width: 20px;
            height: 20px;
            border: 1px solid black;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }

        .custom-checkbox span {
            visibility: visible;
            color: black;
        }